<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="../static/favicon.png">

    <title>Оффлайн библиотека - {{current_page}} страница</title>
  </head>
  <body>
    <div class="container">
      <nav aria-label="Page navigation" style="margin: 15px;">
        <ul class="pagination">
          {% if current_page == 1 %}
            <li class="page-item disabled"><a class="page-link" href="#">Назад</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{current_page - 1}}.html">Назад</a></li>
          {% endif %}
          {% for page in range(1, last_page + 1) %}
            {% if page == current_page %}
              <li class="page-item active"><a class="page-link" href="index{{page}}.html">{{page}}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="index{{page}}.html">{{page}}</a></li>
            {% endif %}
          {% endfor %}
          {% if current_page == last_page %}
            <li class="page-item disabled"><a class="page-link" href="#">Вперёд</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{current_page + 1}}.html">Вперёд</a></li>
          {% endif %}
        </ul>
      </nav>
      <hr>
      {% for book_row in book_rows %}
        <div class="row">
          {% for book in book_row %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../{{book.img_src|urlencode}}" class="card-img" alt="Обложка книги {{book.title}}" title="{{book.title}}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{book.title}}</h5>
                      <p class="card-text">{{book.author}}</p>
                      <p>
                        {% for genre in book.genres %}
                          <span class="badge badge-light">{{genre}}</span>
                        {% endfor %}
                      </p>
                      <p class="card-link">
                        <a href="../{{book.book_path|urlencode}}" target="_blank">Читать</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>